<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<h2>Template reference variable</h2>
<input type="text" #myInput>

<button (click)="onclick(myInput.value)">submit</button>
<br>
<br>

<input type="text" #myInput1>
<br>

<br>
<input type="text" #myInput1>
<br>
<br>
<input type="text" #myInput1>
<br>
<br>

<app-sport>
  <h4 class="title">Football</h4>
  <h4 class="footer">Play Football</h4>
</app-sport>

<app-sport>
  <h4 class="title">Cricket</h4>
  <h4 class="footer">Play Cricket</h4>
</app-sport>

<app-sport>
  <h4 class="title">Hockey</h4>
  <h4 class="footer">Play Hockey</h4>
</app-sport>
